body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background: #22212C;
    font-family: Merriweather Sans;
    color: rgb(131, 126, 159);
    padding: 1rem;
}

/* Box das tecnologias que o dev manja */
#technologies {
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

#techs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 1rem;
    gap: .3rem;
}

.language {
    background-color: #12677e4e;
    width: 30%;
    padding: .1rem;
    border-radius: 1.5rem;
}

#learning {
    background-color: #babcbc1b;
    width: 30%;
    padding: .1rem;
    border-radius: 1.5rem;
    fill: #707070;
}

#js {
    fill: #F7E018;
}

#node-js {
    fill: #9ABF50;
}

#react {
    fill: #00A9D9;
}

#html {
    fill: #F16529;
}

#git {
    fill: #E84D31;
}

#css {
    fill: #0091D5;
}

#github {
    fill: #000000;
}

#bootstrap {
    fill: #7A11F3;
}

#sass {
    fill: #C76494;
}

#scale {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scale > div {
    margin: .5rem;
}

#ok {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12677e4e;
    padding: .5rem;
    width: 30%;
    height: 20px;
    border-radius: 1.5rem;
    fill: rgb(107, 181, 87);
}

#toLearn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #babcbc1b;
    padding: .5rem;
    width: 30%;
    height: 20px;
    border-radius: 1.5rem;
    fill: #707070;
}

.project:hover {
    opacity: 1;
}

.projectOpacity {
    opacity: 1;
}

/* Configurações do scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(175, 175, 175, 0.482);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 15px;
}

@media screen and (min-width: 320px) {

    #profile {
        width: 70%;
        margin: auto;
        border-radius: 1.5rem;
        background: #302F3D;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #perfil {
        object-fit: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 0 1rem 0;
    }

    #name {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #stack {
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    #about {
        background: #302F3D;
        width: 70%;
        margin: 1rem auto;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
        padding: 1rem;
        border-radius: 1.5rem;
    }

    #about>div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem 0 .5rem 0;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        gap: .7rem;
    }

    a {
        color: #837E9F;
        text-decoration: none;
    }

    .topic {
        font-size: 18px;
        padding: .5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /* Box das soft skills profissionais */
    #softSkills {
        width: 70%;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 1.5rem;
        background: #302F3D;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    }

    li {
        font-size: 14px;
        padding: .5rem;
    }

    /* Box das hards skills do dev */
    #hardSkills {
        width: 70%;
        margin: 0 auto 1rem auto;
        border-radius: 1.5rem;
        padding: 1rem;
        background: #302F3D;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    }

    /* Header de todos os projetos */
    #codes {
        background: #302F3D;
        width: 70%;
        margin: auto;
        padding: .8rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
        display: flex;
        justify-content: space-between;
    }

    #projetcDescription {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .all {
        text-decoration: none;
        color: #837E9F;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* Box dos códigos */
    #files {
        margin: 1rem auto 1rem auto;
        border-radius: 1.5rem;
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
    }

    #file1,
    #file2 {
        width: 70%;
        margin: auto;
        flex-basis: 50%;
        border-radius: 1.5rem;
        padding: 1rem;
        font-size: 14px;
        gap: 1rem;
        background: #302F3D;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
        cursor: context-menu;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fileDescription {
        padding-top: 1rem;
    }

    .fileName {
        display: flex;
        align-items: center;
    }

    .fileName>svg {
        padding-right: .5rem;
    }

    .tools {
        height: 2rem;
        padding-top: 1rem;
        gap: .5rem;
        display: flex;
        justify-content: flex-end;
    }

    #projetcDescription {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .all {
        text-decoration: none;
        color: #837E9F;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /* Box descritiva dos últimos posts */
    #recents {
        width: 70%;
        margin: auto;
        padding: .8rem;
        border-radius: 1rem;
        background: #302F3D;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
        display: flex;
        justify-content: space-between;
    }

    #recents>span {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /* Posts */
    #posts {
        width: 75%;
        height: 300px;
        margin: auto;
        margin-top: 1rem;
        border-radius: .5rem;
        background: #302F3D;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    }

    .mySlides {
        width: 100%;
        height: 300px;
        display: none;
        object-fit: cover;
        border-radius: .5rem;
    }

    #show {
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
    }

    #myProjects {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .project {
        width: 60px;
        height: 60px;
        border-radius: .5rem;
        cursor: pointer;
        opacity: 0.5;
        object-fit: cover;
    }

    figure {
        margin: 0;
    }

    figcaption {
        font-size: 10px;
        text-align: center;
        text-decoration: underline;
    }
}

@media screen and (min-width: 480px) {

    #name {
        font-size: 22px;
    }

    #stack {
        font-size: 16px;
    }

    #about>div {
        font-size: 16px;
        padding: 1rem;
        gap: 1rem;
    }

    .topic {
        font-size: 20px;
        padding: .8rem;
    }

    li {
        font-size: 16px;
    }

    #codes,
    #recents {
        font-size: 18px;
        padding: 1rem;
    }

    .all {
        font-size: 16px;
    }

    /* Posts */
    #posts {
        height: 400px;
    }

    .mySlides {
        height: 400px;
    }

    #show {
        height: 400px;
    }

    .project {
        width: 105px;
        height: 90px;
        border-radius: .5rem;
    }

    figure {
        margin: 0;
    }

    figcaption {
        margin-bottom: 1rem;
        font-size: 12px;
        text-decoration: underline;
    }
}

@media screen and (min-width: 720px) {

    body {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }

    aside {
        flex-basis: 25%;
    }

    main {
        flex-basis: 70%;
    }

    #profile,
    #about,
    #technologies,
    #softSkills,
    #hardSkills {
        width: 80%;
    }

    #about>div {
        font-size: 15px;
        padding-left: 0;
        gap: .5rem;
    }

    li {
        font-size: 15px;
    }

    #codes,
    #recents,
    #posts {
        width: 80%;
    }

    #file1,
    #file2 {
        width: 80%;
        font-size: 16px;
    }

    .project {
        width: 100px;
        height: 60px;
    }

}

@media screen and (min-width: 900px) {

    #profile,
    #about,
    #technologies,
    #softSkills,
    #hardSkills {
        width: 90%;
    }

    #about>div {
        font-size: 16px;
        padding-left: 0;
        gap: .5rem;
    }

    li {
        font-size: 16px;
    }

    #codes,
    #recents,
    #posts {
        width: 80%;
    }

    #files {
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #file1,
    #file2 {
        height: 140px;
    }

    .fileName {
        display: flex;
        align-items: center;
    }

    .fileName>svg {
        padding-right: .5rem;
    }

    .tools {
        height: 2rem;
        gap: .5rem;
        display: flex;
        justify-content: flex-end;
    }

    .project {
        width: 140px;
        height: 90px;
        border-radius: .5rem;
        cursor: pointer;
        opacity: 0.5;
        object-fit: cover;
    }

    figcaption {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {

    #files {
        width: 85%;
    }

    .project {
        width: 175px;
        height: 90px;
        border-radius: .5rem;
        cursor: pointer;
        opacity: 0.5;
        object-fit: cover;
    }

    figcaption {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {

    /* Posts */
    #posts {
        height: 500px;
    }

    .mySlides {
        height: 500px;
    }

    #show {
        height: 500px;
    }

    #files {
        width: 82%;
    }

    .project {
        width: 210px;
        height: 90px;
    }
}